{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}


{% block contenido %}
<!-- <h1>ACA VOY A DETALLAR UNA NOTICIA</h1> -->

<div class="card">
	<div class="card-body">
		<center>
			<h2 class="card-title">{{noticia.titulo}}</h2>
			<hr>
			<h4 class="card-text" >{{noticia.cuerpo}}</h4>
		</center>
		<p class="card-text"><small class="text-muted">Categoria: {{noticia.categoria_noticia}}</small></p>
		<p class="card-text"><small class="text-muted">{{noticia.fecha}}</small></p>
	</div>
	<img src="{{noticia.imagen.url}}" class="card-img-bottom" alt="...">
</div>

			<form method="POST" action="{% url 'noticias:comentar' %}">{% csrf_token %}
			
			{% comment %} <textarea name="comentario" maxlength="1500"> </textarea> {% endcomment %}


			<div class="form-floating">
				<textarea class="form-control" name="comentario" maxlength="1500" width='50px'></textarea>
				
			  </div>


			<input type="text" name="id_noticia" value="{{noticia.pk}}" hidden=""> 
			{% comment %} <input type="submit" value="Comentar"> {% endcomment %}
			<button type="submit"  value="Comentar" class="btn btn-outline-primary">Comentar</button>
		</form>
		<br><br><br>
		<h3>COMENTARIOS</h3>
		{% for com in comentarios %}
		{% if user == com.usuario %}
			{% comment %} <a href="">borrar</a> {% endcomment %}
		{% endif %}
		<strong>FECHA:{{com.fecha}}</strong><br>
		<strong>USUARIO:{{com.usuario}}</strong><br>
		<p>{{com.texto}}</p>
		{% endfor %}
		<a href="{% url 'noticias:listar' %}">VOLVER</a>
{% endblock contenido %}
