<script src="https://kit.fontawesome.com/9daa73c0a8.js" crossorigin="anonymous"></script>
<footer id="footer"table style="background-color:#452508">
    <div class="footer-top">
      <div class="container">
        <div class="row">
            <h4>Nuestras redes sociales</h4>
            <div class="social-links mt-3">
              <a href="https://www.gmail.com" class="twitter"><i class="bx bxl-twitter"><i class="fa-brands fa-google"></i></i></a>
              <a href="https://www.facebook.com/fundacionala" class="facebook"><i class="bx bxl-facebook"><i class="fa-brands fa-facebook"></i></i></a>
              <a href="https://www.instagram.com/fundacion.ala/?hl=es-la" class="instagram"><i class="bx bxl-instagram"><i class="fa-brands fa-instagram"></i></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; . <strong><span>Fundacion Ala</span></strong>. 
      </div>
      <div class="credits">
      </div>
    </div>
  </footer>